*.o
.deps/
/AUTHORS
/COPYING
/ChangeLog
/INSTALL
/Makefile
/Makefile.in
/NEWS
/README
/aclocal.m4
/aproto_opcodes.txt
/autom4te.cache/
/autoscan-*.log
/compile
/depcomp
/install-sh
/missing
/new_encoding.html
/pattern
/stamp-h1
config.h
config.h.*
config.log
config.status
configure
configure.scan
